
.Home{
    background-color: #282c34;
    min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url("https://fastly.4sqi.net/img/general/width960/8873971_d3qkbX7UjyTvoDDD60dnGxYOFDQGP4yGQq2XCBNt0VU.jpg"); */
}